<!doctype html>
<html lang="en">
<head>
    <title>RRC Backend Management</title>
    <link rel="stylesheet" href="/stylesheets/common.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>

<frameset cols="240px,*" border="0">
    <frame src="/left" name="left"/>
    <frame src="/right" name="right"/>
</frameset>

<body>


</body>
</html>