<!doctype html>
<html lang="en">
<head>
    <title>RRC Backend Management</title>
    <link rel="stylesheet" href="/stylesheets/common.css"/>
    <style>
        body{
            background: black;
        }
        .main{
            position:absolute;
            left:50%;
            top: 50%;
            transform: translate(-50%);
            color:#ffffff;
        }

    </style>
</head>
<body>
<div class="main">
    <img src="" alt="">
    <h1>Welcome to backend management system</h1>
</div>


</body>
</html>